<footer style="background-color: #00052D; padding: 20px 0; width: 100%; color: white;">
    <div class="container text-center">
      <div class="d-flex justify-content-center align-items-center">
        <span class="material-icons" style="color: rgba(173, 216, 230, 0.8);">donut_small</span>
        <span class="mx-2" style="font-size: 14px;">© 2024 OMNI</span> 
        <span>|</span>
        <a href="mailto:support@omniapp.com" class="mx-2" style="color: white; text-decoration: none; font-size: 14px;">Contact Us</a>
      </div>
    </div>
  </footer>
  