html, body {
    height: 100%;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
      display: none; /* Hides the scrollbar */
  }
  
  .row {
    flex: 1; /* Ensures row takes up available space in container */
    display: flex;
  }
  
  .dashboard-item {
    background-color: #00052D; /* Oxford Blue */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .dashboard-item h2 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  
  .dashboard-item p {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  
  .recent-interactions {
    background-color: #000E4A; /* Penn Blue */
    height: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .recent-interactions h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .recent-interactions ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .recent-interactions li {
    border-bottom: 1px solid #003196; /* Egyptian Blue */
    padding: 0.5rem 0;
  }
  
  /* New CSS for table customization */
  .table-custom {
    border: 3px solid white;
    background: transparent;
    background-size: cover;
  }
  
  .table-custom th, .table-custom td {
    text-align: center;
    border: 1px solid white;
  }
  
  /* New CSS for button styling */
  .btn-outline-light {
    background: transparent;
    border: 2px solid white;
    color: white;
  }
  
  .btn-outline-light:hover {
    background: white;
    color: black;
  }

  .btn-custom {
    padding: 0.25rem 0.5rem; /* Adjust padding for smaller buttons */
    font-size: 0.75rem; /* Smaller font size */
    line-height: 1; /* Adjust line height to match font size */
    border-radius: 0.2rem; /* Optional: smaller border radius for a tighter look */
  }
  
  .btn-custom .material-icons {
    font-size: 1rem; /* Adjust icon size */
  }

  /* Hide scrollbar for WebKit browsers */
ul::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
ul {
  scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for Edge and Internet Explorer */
ul {
  -ms-overflow-style: none; /* Hide scrollbar */
}

#emojiPicker {
  position: absolute;
  display: none;
  z-index: 1000;
}

/* Common styles for chat messages */
.message {
  max-width: 60%; /* Limit width for better readability */
  margin: 5px 0;
  padding: 12px;
  border-radius: 10px;
  word-wrap: break-word;
  color: #00052D;
}

.message-right {
  align-self: flex-end;
  background-color: #e1ffc7; /* Example background color */
}

.message-left {
  align-self: flex-start;
  background-color: #f0f0f0; /* Example background color */
}

.timestamp {
  font-size: 0.8em;
  color: #888; /* Color for the timestamp */
  margin-top: 5px;
}

